<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Order Total</th>
            <th scope="col">Delete Order</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td><a routerLink="/orders" (click)="openOrderItemDialog(order.orderId)"> {{order.orderId }}</a> </td>
            <td>{{ order.customerName }}</td>
            <td>{{ formatStringCurrency(order.orderTotal) }}</td>
            <td><button mat-raised-button color="accent" (click)="deleteOrder(order.orderId)">Delete Order</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
