<h2 mat-dialog-title>Order Detail</h2>
<div mat-dialog-content>
  <table>
   <tr><td class="text-dark">Order ID:</td><td>{{data.orderId}}</td></tr>
   <tr><td class="text-dark">Address:</td><td> {{data.address}} </td></tr>
   <tr><td class="text-dark">Phone No:</td><td>{{data.phoneNumber}}</td></tr>
 </table> 
 <br>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Item Qty</th>  
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data.orderItems">
          <td>{{ item.orderItemName }}</td>
          <td>${{ item.orderItemPrice}}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </tbody>
  </table>
</div>
<div mat-dialog-actions align="center">
 <!-- <button mat-button (click)="onCancelUserDialog()">Cancel</button> -->
  <button mat-raised-button color="accent" (click)="onOkUserDialog()">Ok</button>
</div>