<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/order.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Order Confirmation</title>
</head>
<body>
<div class="w3-panel w3-round-xxlarge  w3-khaki">
    <h2 class="card-title text-center">
        Order Confirmation
    </h2>
    <p class="right" th:text="'Date: ' + ${theDate}" >

    <table>
    <tr>
     <td>Customer Name:</td>
        <td th:text="${theOrder.CustomerName}"></td>
    </tr>
    <tr>
        <td>Customer Address:</td>
        <td th:text="${theOrder.address}"></td>
    </tr>
    <tr>
        <td>Customer Phone No.:</td>
        <td th:text="${theOrder.phoneNumber}"></td>
    </tr>
    <tr>
        <td>Order Date/Time:</td>
        <td th:text="${theOrder.orderDate}"></td>
    </tr>
    </table>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
    <tr>
        <th align="left">Item </th>
        <th align="left">Qty</th>
        <th align="left">Price</th>
    </tr>
        </thead>
    <tr th:each="item : ${order.orderItems}">
        <td th:text="${item.orderItemName}" align="left"></td>
        <td th:text="${item.quantity}" align="left"></td>
        <td th:text="${#numbers.formatCurrency(item.totalCost)}"align="left" ></td>
    </tr>
        <td></td>
        <td>Total:</td>
        <td th:text="${#numbers.formatCurrency(order.orderTotal)}"></td>
  </table>
</div>
</body>
</html>