
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/order.css" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Customer Order Page</title>
  </head>
  <body class="bg" >
  <div class="w3-panel w3-round-xxlarge w3-khaki">
    <div >
      <h2 align="center">Customer Login</h2>
    </div>
		<br>

      <div align="center" th:if="${loginError}">
          Invalid username and password.</div>
      <div th:if="${logout}">
          You have been logged out.</div>
        <br>
	  <div align="center">
		   <form th:action="@{/}" th:object="${login}" method="post">
            <table align="center" width="808">
           <tr>
               <td width="224" align="right">Enter Username:</td>
          <td width="124"><input type="text" name="username" id="user"></td>

		 <td width="444" align="left" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</td>
           </tr>
         <tr>
          <td align="right">Enter Password:</td>
          <td><input type="password" name="password" id="password"></td>
			<td align="left" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</td>
         </tr>
            </table>
               <br>
	    <br>
    <input name="submit" align="center" type="submit" id="submit" value="Submit">
	 </form>
	 </div>															  	  
	  </div>
  </body>
</html>
