
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/order.css" />
    <title>Customer Order Page</title>
  </head>
  <body class="bg">
    <div>
      <h2 align="center">
        Customer Order Form
      </h2>
    </div>
    <fieldset style="width:270px">
    <legend>Customer Details</legend>
    <div>
        <div class="formbuilder-text form-group field-customerName">
            <label for="customerName" class="input">Customer Name
                <br>
            </label>
            <input type="text" class="input" name="customerName"  access="false" id="customerName">
        </div>
        <div class="formbuilder-text form-group field-address">
            <label for="address" class="input">Customer Address
                <br>
            </label>
            <input type="text" class="input" name="address" size="50" access="false" id="address">
        </div>
        <div class="formbuilder-text form-group field-phoneNumber">
            <label for="phoneNumber" class="formbuilder-text-label">Customer Phone No.
                <br>
            </label>
            <input type="tel" class="input" name="phoneNumber" access="false" maxlength="10" id="phoneNumber">
        </div>
    </div>
    </fieldset>

  </body>
</html>
