<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item ID</th>
            <th scope="col">Menu-Item Name</th>
            <th scope="col">Item Price</th>
            <th scope="col">Delete Item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of menu">
            <td>{{item.itemId}} </td>
            <td>{{ item.itemName }}</td>
            <td>{{ formatStringCurrency(item.itemPrice) }}</td>
            <td><button mat-raised-button color="accent" (click)="deleteMenuItem(item.itemId)">Delete Item</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

